* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

body {
  background-color: #041122;
  color: #fff;

  overflow-x: hidden;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}
